<b>2010</b>
<br/>

<li class="pubName"> Tinoosh Mohsenin<br>
	
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/theses/2010-4/">Algorithms
and Architectures for Efficient Low Density Parity Check (LDPC) Decoder Hardware</a>,"<br>
      Ph.D Dissertation,
      Technical Report ECE-VCL-2010-11,
      VLSI Computation Laboratory,
      ECE Department, University of California, Davis, 2010.
      

<li class="pubName"> Tinoosh Mohsenin, Dean Truong and Bevan Baas<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.11.TCAS.LDPC/">A
     Low-Complexity Message Passing Algorithm for Reduced Routing Congestion in LDPC Decoders</a>,"<br>
     <i>IEEE Transactions of Circuits and Systems I (TCAS-I)</i>,
     vol. 57, no. 5, pp. 1048-1061, May 2010.<br>
     <b>Invited.</b>
     

<li class="pubName"> Tinoosh Mohsenin and Bevan Baas<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.11.JVLSI.LDPC/">A
     Split-Decoding Message Passing Algorithm for Low Density Parity Check Decoders</a>,"<br>
     <i>Journal of Signal Processing Systems for Signal, Image, and Video Technology</i>,
     <a href="http://dx.doi.org/10.1007/s11265-010-0456-y">available online</a>, Feb. 2010.
     </p>

<b>2009</b>
<br/>

<li class="pubName"> Tinoosh Mohsenin and Bevan Baas<br>  
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.11.Asilomar.LDPC/index.html">    
      Trends and Challenges in LDPC Hardware Decoders</a>,"<br>
      <i>Asilomar Conference on Signals, Systems and Computers (ACSSC)</i>, November 2009.<br>
      <b>Invited.</b>      

<li class="pubName"> Tinoosh Mohsenin and Bevan Baas<br>
      "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.06.TECHCON.LDPC/index.html">
      High Throughput and Energy Efficient LDPC Decoders using Multi-Split-Row Threshold Method</a>,"<br>
      <i>TECHCON 2009</i>, September 2009.
      

<li class="pubName"> Tinoosh Mohsenin, Dean Truong and Bevan Baas<br>
      "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.06.ICC.LDPC/index.html">An Improved Split-Row Thresholding Decoding Algorithm for LDPC
      Codes</a>,"<br>
      <i>IEEE International Conference on Communications (ICC'09)</i>, June 2009.
      
 
<li class="pubName"> Tinoosh Mohsenin, Dean Truong and Bevan Baas,<br>
      "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.05.ISCAS.LDPC/index.html">Multi-Split-Row Threshold Decoding Implementations for LDPC
      Codes</a>,"<br>
      <i>IEEE International Symposium on Circuits and Systems (ISCAS'09)</i>, May 2009.
     

<li class="pubName"> Dean N. Truong, Wayne H. Cheng, Tinoosh Mohsenin, Zhiyi Yu, 
     Anthony T. Jacobson, Gouri Landge, Michael J. Meeuwsen<br>
     Christine Watnik, Anh T. Tran, Zhibin Xiao, Eric W. Work, 
     Jeremy W. Webb, Paul V. Mejia, Bevan M. Baas,
     <br>"<a href="http://web.ece.ucdavis.edu/vcl/pubs/2009.04.JSSC/">A 167-Processor Computational 
     Platform in 65 nm CMOS</a>,"<br>
     <i>IEEE Journal of Solid-State Circuits (JSSC),</i>
     vol. 44, no. 4, pp. 1130-1144, April 2009.<br>
     <b>Invited.</b></li>

<b>2008</b>
<br/>
<li class="pubName"> Tinoosh Mohsenin, Pascal Urard and Bevan Baas,<br>
      "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.10.Asilomar.LDPC/index.html">A Thresholding Algorithm for Improved Split-Row Decoding of LDPC
      Codes</a>,"<br>
      <i>Asilomar Conference on Signals, Systems and Computers (ACSSC)</i>, October 2008. 
      

<li class="pubName"> Dean Truong, Wayne Cheng, Tinoosh Mohsenin, Zhiyi Yu, Toney Jacobson,
     Gouri Landge, Michael Meeuwsen, Christine Watnik,<br>
     Paul Mejia, Anh Tran, Jeremy Webb, Eric Work, Zhibin Xiao, Bevan Baas,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.03.HOTCHIPS/">A 167-processor Computational Array for Highly-Efficient DSP and Embedded
	     Application Processing</a>,"<br>
     In Proceedings of the <i>IEEE HotChips Symposium on High-Performance Chips,
	     (<a href="http://www.hotchips.org/archives/hc20/">HotChips 2008</a>)</i>,
     August 2008.
     

<li class="pubName"> Dean Truong, Wayne Cheng, Tinoosh Mohsenin, Zhiyi Yu, Toney Jacobson,
     Gouri Landge, Michael Meeuwsen, Christine Watnik,<br>
     Paul Mejia, Anh Tran, Jeremy Webb, Eric Work, Zhibin Xiao, Bevan Baas,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.06.symp.vlsi/">A 167-processor 65 nm Computational Platform with Per-Processor
     Dynamic Supply Voltage and Dynamic Clock Frequency Scaling</a>,"<br> 
     <i> Symposium on VLSI Circuits,</i>
     June 2008, C3.1. 

<li class="pubName"> Zhiyi Yu, Michael Meeuwsen, Ryan Apperson, Omar Sattari, Michael Lai,
     Jeremy Webb, Eric Work, Tinoosh Mohsenin, Bevan Baas,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.03.VLSI.Sig/">Architecture 
     and Evaluation of an Asynchronous Array of Simple Processors</a>,"<br>
     <i> Journal of VLSI Signal Processing Systems,</i>
     March 2008. 

<li class="pubName"> Zhiyi Yu, Michael Meeuwsen, Ryan Apperson, Omar Sattari, Michael Lai,
     Jeremy Webb, Eric Work, Dean Truong, Tinoosh Mohsenin, Bevan Baas,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.03.JSSC/">AsAP: An 
     Asynchronous Array of Simple Processors</a>,"<br>
     <i>IEEE Journal of Solid-State Circuits (JSSC),</i>
     vol. 43, no. 3, pp. 695-705, March 2008.

<li class="pubName"> Tinoosh Mohsenin and Bevan Baas, <br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2008.02.ISSCCstudentforum.LDPC/index.html">An 18 Gbps 2048-bit 10GBASE-T Ethernet LDPC Decoder,"</a><br>
     <i>IEEE International Solid-State Circuits Conference (ISSCC) 2008 
     Student Forum,</i>
     February 2008.
     </li>


<b>2007</b>
<br/>

<li class="pubName"> Ryan Apperson, Zhiyi Yu, Michael Meeuwsen, Tinoosh Mohsenin,
     Bevan Baas<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2007.10.TVLSI/">A Scalable
     Dual-Clock FIFO for Data Transfers between Arbitrary and Haltable Clock
     Domains</a>,"<br>
     <i> IEEE Transactions of Very Large Scale Integration Systems (TVLSI),</i>
     vol. 15, no. 10, pp. 1125-1134, October 2007.

<li class="pubName"> Tinoosh Mohsenin and Bevan Baas, <br>
    "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2007.04.ICASSP/">     
     High-Throughput LDPC Decoders Using A Multiple Split-Row Method,"</a><br>
     In Proceedings of the <i> IEEE International Conference on Acoustics, 
     Speech, and Signal Processing (ICASSP'07),</i> April 2007.
     

<li class="pubName"> Bevan Baas, Zhiyi Yu, Michael Meeuwsen, Omar Sattari, Ryan Apperson,
     Eric Work, Jeremy Webb, Michael Lai, Tinoosh Mohsenin, Dean Truong,
     Jason Cheung,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2007.07.ieee.micro/">AsAP:
     A Fine-grain Multi-core Platform for DSP Applications,</a>"<br>
     <i>IEEE Micro,</i> Volume 27, Number 2, March/April 2007.<br>
     <b>Invited.</b></li>
     
     

<b>2006</b>
<br/>

<li class="pubName"> Tinoosh Mohsenin, Bevan M. Baas, <br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2006.10_2/">
     Split-row: A Reduced Complexity, High Throughput LDPC Decoder Architecture",</a><br>
     In Proceedings of the <i> IEEE International Conference of Computer 
     Design (ICCD '06),</i> October 2006.
     

<li class="pubName"> Bevan Baas, Zhiyi Yu, Michael Meeuwsen, Omar Sattari, Ryan Apperson,
     Eric Work, Jeremy Webb, Michael Lai, Daniel Gurman, Chi Chen,
     Jason Cheung, Dean Truong, Tinoosh Mohsenin, <br>
     <a href="pubs/2006.08_hotchips/">"Hardware and Applications of AsAP:
     An Asynchronous Array of Simple Processors,"</a><br>
     In Proceedings of the <i>IEEE HotChips Symposium on High-Performance
     Chips,
     (<a href="http://www.hotchips.org/archives/hc18/">HotChips 2006</a>),</i>
     August 2006.
     
     
<li class="pubName"> Zhiyi Yu, Michael Meeuwsen, Ryan Apperson, Omar Sattari, Michael Lai,
     Jeremy Webb, Eric Work, Tinoosh Mohsenin, Mandeep Singh, Bevan M. Baas,<br>
     "<a href="http://web.ece.ucdavis.edu/vcl/pubs/2006.02/">An Asynchronous
     Array of Simple Processors for DSP Applications</a>,"<br>
     In Proceedings of the <i>IEEE International Solid-State Circuits
     Conference (ISSCC '06),</i> February 2006, pp. 428-429, 663.
     

<b>2005</b>
<br/>

<li class="pubName"> Junqiang Hu; Zhong Pan; Zuqing Zhu; Haijun Yang; Mohsenin, T.; Akella, V.; Ben 
Yoo, S.J, &quot;<a href="./edgerouter.pdf"><strong style="font-weight: 400">First 
Experimental Demonstration of IP-Client-to-IP-Client Video Streaming Application 
Over an All-O</strong>ptical Label-Switching Network with Edge Routers</a>&quot;, <i>
Optical Fiber Communication Conference (OFC'05),Volume 5,&nbsp;March 2005.</i></p>


<b>2003</b>
<br/>

<!--<Li> Tinoosh Mohsenin, &quot;<a href="./msthesis-mohsenin.pdf">Design and -->
<li class="pubName"> Tinoosh Mohsenin, &quot;<a href="./msthesis-mohsenin.pdf">Design and 
Evaluation of FPGA-Based Gigabit-Ethernet/PCI Network Interface Card</a>&quot;, <i>
Masters Thesis, Rice University, 2003.</i></p>

<li class="pubName"> P.Murphy, J.P.Frantz, E.Welsh, R.Hardy, T.Mohsenin 
and J.Cavallaro, <a href="./murphy03valid.pdf">&quot;VALID: Custom ASIC 
Verification and FPGA Education Platform&quot;</a>, <i>Microelectronic Systems 
Education Conference, (MSE'03),&nbsp; June 2003, pp. 64 - 65.</i></p>
</ul>