html{
	font-size:18px;
	font-family: "Trebuchet MS";
	padding: 0 0 0 0;
	background-color: #fbfbfb;
	margin: 0 0 0 0;
	height:100%;
}
body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height:100%;
}
#navBar{
	width: 100%;
	height:125px;
	background-image: url(Images/navigation/navBarBg.png);
	background-size: 100% !important 125px;/*auto 125px;*/
	
	min-width: 1000px !important;
	position: relative;
	box-shadow: 0 4px 8px #777;
	overflow:visible;
}
#navInner{
	width:1000px;
	height:125px;
	margin: auto;
}

/*Option 1 
#navName{
	color:white;
	font-size:30px;
	line-height: 85px;
	text-shadow: 0px -2px 0 #333,0 1px 0px rgba(255,255,255,0.6);
	float: left;
	text-align: center;
	width:751px;

}
*/
/*Option 2 */
#navName{
	color:white;
	font-size:30px;
	line-height: 85px;
	text-shadow: 0px -2px 0 #333,0 1px 0px rgba(255,255,255,0.6);
	text-align: center;
	width:851px;
}


#tabBar{
	width: auto;
	height:40px;
	float: left;
	margin-left:117px;
}
.navRef{
	width: 120px;
	height:40px;
	float: left;
	background-image:url(Images/navigation/tabBack.png);
	margin-right:4px;
	background-size: 150px 40px;
	color:rgba(255,255,255,0.5);
	font-size:20px;
	text-align:center;
	line-height: 40px;
	text-shadow: 0px -2px 0 #000;
	float: left;
	-webkit-transition: color 300ms ease-in;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.navRef:visited{
	text-decoration:none;
}
.navRef:hover{
	color:white;
	cursor: pointer;
}
.navRef:active{
	line-height: 42px;
	background-image:url(Images/navigation/textBackClick.png);
}

/* Option 1 
#navLogo{
	width:149px; 
	height:117px; 
	float: left;
	background-size:149px 149px;
	background-image: url(Images/footer/test2.png);
	margin: -33px -15px 0px 37px; 
	opacity: 1.0;

}
*/
/*Option 2 */
#navLogo{
	width:149px; 
	height:147px;
	float: left;
	background-size:149px 149px;
	background-image: url(Images/navigation/logo.png);
	margin: -23px 0px -50px 0px;  
	opacity: 1.0;

}

/*the actual page*/
:focus {
	outline: 0;
}
:active {
	outline: 0;
}
#pageArea{
	width:1000px;
	height:auto;
	position: relative;
	min-height:100%;
	margin:auto;
	margin-bottom: 0px !important;
}
.wrapper {

min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -100px;
min-width: 1000px !important;
}
.footer, .push {
height: 100px;
clear: both;
}
#footerArea{
	width: 100%;
	height:100px;
	background-image:url(Images/footer/footerBack.jpeg);
	box-shadow: inset 0 4px 12px #222;
	overflow: hidden;
	min-width:1000px;
}
#footerLeft{
	width:400px;
	height:80px;
	margin-top:8px;
	float: left;
}
#footerText{
	color:white;
	height:1px;
	text-align:center;
	font-size:15px;
	letter-spacing:1px;
	float:left;
	font-weight: 100;
}
#footerRef{
	width:140px;
	display: block;
	float:left;
	height:47px;
	background-image: url(Images/footer/umbcLogo.png);
	background-size:140px auto;
	margin-top: 10px;
	opacity: 0.6;
	margin-left:130px;
	z-index: 9999999;
	margin-right:130px;
	-webkit-transition: 500ms ease-in opacity;
}
#footerRef:hover{
	opacity: 1;
}
#footerRef:active{
	outline: none;
}
#footerRef:focus{
	outline: none;
}
#footerInner{
	width:1000px;
	height:100px;
	margin:auto;	
	text-shadow: 0px -2px 0 #333,0 1px 0px rgba(255,255,255,0.6);
}
.footerInfo{
	float: right;
	width:400px;
	font-size: 13px;
	color:white;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 0 0;
	text-align: right;
	margin-top: 12px;
}
/*page layout*/
#headerArea{
	width:1000px;
	height:auto;
	float:left;
	min-height: 20px;
	display:inline-block;
	vertical-align:middle;
}

/*index page*/
#overviewText{
	width:1000px;
	height: auto;
	text-indent:0px; /* 30px */
	text-align: justify;
	line-height: 28px;
	font-size: 16px;
	float: left;
}
#overviewText h1{
	margin-bottom: 0px;
	margin-top: 0;
}
#overviewtext p{
	width:1000px;
	height: 140px;
}
.frontImage{
	width: 350px;
	float:right;
}
/*news*/
#newsFeed{
	width:350px;
	float:right;
	height:430px;
}
#newsBar{
	width:350px;
	height:34px;
	background-image: url(Images/navigation/navBarBg.png);
	background-size:auto 34px;
	text-align:center;
	line-height:35px;
	font-size:22px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom: solid 1px #aaa;
	box-shadow:inset 1px 1px 0px rgba(255,255,255,0.4);
	color:white
}
#newsArea{
	width:348px;
	height:400px;
	border:solid 1px #DDD;
	border-top-color:#fff !important;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	margin-top: 1px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.newsItem{
	width:348px;
	height: auto;
	border-bottom:solid 1px #aaa;
	background-image: url(Images/news/newsFeedBack.png);
	background-size: auto 100%;
	box-shadow: 0 1px 0 #fff;
	margin-bottom: 1px;
	clear: both;
}
.newsTitle{
	font-size: 16px;
	text-shadow:0 -1px 0 #999;
	width:348px;
	height:16px;
	margin-bottom:5px;
	margin-top:4px;
	text-align:center;
}
.newsInfo{
	font-size: 12px;
	width:323px;
	margin-left: 5px;
	text-align: justify;
	height:auto;
}
.newsRef{
	text-decoration: underline;
	color:black;
	font-size: 14px;
	margin-top: 3px;
	margin-right:20px;
	font-weight:bold;
	float:right;
	margin-bottom:5px;
	display: block;
}
.clearer{
	clear: both;
}
#newsMore{
	width:348px;
	height:30px;
	background-image: url(Images/news/newsFeedBack.png);
	text-align: center;
	line-height: 30px;
	text-shadow: 0px -1px 0 #999;
	display: block;
	color:black;
}
#newsMore:hover{
	cursor: pointer;
	text-decoration: underline; 
}
/*People page*/
#slides{
	width: 650px;
	margin: 0px 175px;
	margin-bottom: 30px;
	float: left;	
}
#slides iframe{
	height: 100%;
	width: 100%;
}
.slidesjs-slide{
	height:100%;
}
.slidesjs-image{
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.slidesjs-previous, .slidesjs-play, .slidesjs-next, .slidesjs-stop{
	margin-top: 5px;
	background-image: url(Images/slideshow/btns-next-prev.png);
	background-repeat: no-repeat;
	display: block;
	width: 12px;
	height: 18px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin-right: 5px;
}
.slidesjs-next{
	margin-right: 10px;
  	background-position: -12px 0;
}
.slidesjs-play{
	width: 15px;
  	background-position: -25px 0;
}
.slidesjs-stop {
  width: 18px;
  background-position: -41px 0;
}
.slidesjs-pagination{
	float: right;
	list-style: none;
	margin-top: 7px;
}
.slidesjs-pagination li {
  	float: left;
  	margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(Images/slideshow/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.caption{
	width: 100%;
	height:auto;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	background: rgba(34,34,34,0.6);
	color: #fff;
	text-indent: 20px;
}
.peopleArea{
	width:998px;
	height:auto;
	min-height: 200px;
	border-radius: 10px;
	border:solid 1px #ccc;
	box-shadow: inset 0 0 0px 1px #fff;
	float: left;
	margin-bottom: 40px;	
}
.peopleTitle{
	width:100px;
	height:30px;
	background-color: #fbfbfb;
	position: relative;
	left:40px;
	top:-15px;
	font-size: 24px;
	text-align: center;
	font-weight: 400;
	margin-bottom: -5px;
}

.outer {
	height: 152px; overflow: hidden;width:166px;float: left;position: relative;
}
.outer[class] {
	display: table; position: static;
	}

.middle {
	position:absolute; top: 50%;
	width:166px;
} /* for adaptive (quirk) explorer only*/
		
.middle[class] {
	display: table-cell; vertical-align: middle; width: 100%; position: static;
}
		
.inner {
	position: relative; top: -200%;
} /* for adaptive (quirk) explorer only */
/* optional: #inner[id] {position: static;} */
.outer2 {
	height: 194px; overflow: hidden;width:625px;float: left;position: relative;margin-left: 50px;
}
.outer2[class] {
	display: table; position: static;
	}

.middle2{
	position:absolute; top: 50%;
	width:625px;
} /* for adaptive (quirk) explorer only*/
		
.middle2[class] {
	display: table-cell; vertical-align: middle; width: 100%; position: static;
}
		
.inner2 {
	position: relative; top: -200%;
}
.personArea{
	height:auto;
	width:330px;
	float:left;
	margin-top: 0px;
	margin-left: 2px;
	margin-bottom: 10px;
}
.nameArea{
	width:160px;
	height:auto;
	float: left;
}
.personImg{
	height:150px;
	width:150px;
	margin-left: 5px;
	float:left;
	border-radius:6px;
	border:solid 1px #aaa;
}
.personRef{
	width:150px;
	margin-left:5px;
	margin-top:4px;
	height:auto;
	text-align: center;
	color:black;
	float: left;
}
.personRef:hover{
	cursor: pointer;
	text-decoration: underline;
}

.credentialArea{
	width:165px;
	float: left;
	height:auto;
	min-height: 180px;
}
.graduateLevel{
	margin-bottom: 0px;
	margin-left: 2px;
}
.credentialInfo{
	float:left;
	font-size:14px;
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
}
.personBreaker{
	width:4px;
	height:200px;
	background-image: url(Images/people/peopleBreaker.png);
	float: left;
	margin-top: -20px;
}
/*Project page*/
.project{
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	position:relative;
	margin-bottom: 20px;
}
.project:last-of-type{
	border-bottom: none;
}
.projectArea{
	width:1000px;
	height:auto;
	float: left;
}
.projectAreaTitle{
	font-size: 20px;
	text-indent: 30px;
}
.projectAreaInfo{
	font-size: 14px;
	margin-left: 0px;
	margin-top: 0;
	margin-bottom:24px;
	padding-top: 0;
	display: block;
	float:left;
	width: 755px;
}
.headerProject{
	font-size:24px !important;
	text-align:left;
}

.headerIcon{
	margin-left:-0px;
	margin-bottom:-10px;
}

.projectImageArea{
	width: 200px;
	height: 100%;
	float:left;
	margin-top:25px;
	margin-right: 15px;
}
.projectImage{
	width: 100%;
}
.projectTitle{
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 0;
}
.projectText{
	font-size: 16px;
	color:black;
	text-indent: 0px;
	line-height:28px;
}
/*
.projLinkArea{
	border-top:dashed 1px #AAA;
}
*/
.projLink{
	text-decoration: underline;
	color:black;
	margin: 10px 0 10px 0;
	float: left;
}
.projectImg{
	width:400px;
	height:auto;
	margin-left: 300px;
	border-radius: 10px;
	border:solid 2px #aaa;
	margin-bottom: 20px;
}
.projectImg2{
	width:500px;
	height:auto;
	margin-left: 250px;
	border-radius: 0px;
	border:solid 0px #aaa;
	margin-bottom: 20px;
}

.groupImg{
	width:500px;
	height:auto;
	margin-left: 250px;
	border-radius: 10px;
	border:solid 2px #aaa;
	margin-bottom: 20px;
}

.seizureImg{
	width:600px;
	height:auto;
	margin-left: 200px;
	margin-bottom: 30px;
	border-radius: 0px;
	border:solid 0px #aaa;
}

.projectImg3{
	width:250px;
	height:auto;
	margin-left: 350px;
	border-radius: 0px;
	border:solid 0px #aaa;
	margin-bottom: 20px;
}
.projectBreaker{
	width:980px;
	height:80px;
	background-repeat:no-repeat;
	box-shadow:#f0f0f0 0 -1px 0 0;
	margin: 5px 10px -55px 10px;
	float: left;
	margin-top: 0px;
	background-image: url(Images/breakers/buystrip_gradient_down.png);
	background-position: 0px -1px;
}
.projRefArea{
	width:1000px;
	margin: -5px 0 5px 0;
	height:22px;
	position: absolute;
	bottom: 0;
}
.projRef{
	
 	text-align:right;
 	float:right;
 	margin-right:30px;
	color:black;
	text-decoration:underline;
	font-size:16px;
}
.footerDown{
	width:1000px;
	background-image: url(Images/breakers/footerDown.png);
	height:50px;
	background-repeat:no-repeat;
	background-position:50px 0;
	float: left;
	margin: 20px 0 0px 0;
}
/*Publictaions page*/
#publicationArea{
	width:1000px;
	height:auto;
	float: left;
}
#pubBarArea{
	width:1100px;
	height:40px;
	margin-bottom:10px;
	float: left;
}
#pubBarHider{
	width:auto;
	height:40px;
	border-radius:5px;
	display:inline-block;
	max-width:1100px;
}
#publicationBar{
	width:auto;
	height:auto;

	background-size: auto 40px;
	border-radius: 5px;
}
#publicationBar:first-child{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#publicationBar:last-child{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.pubYearBut{
	width:152px;
	height:36px;
	color:#222;
	line-height: 38px;
	text-align: center;
	float:left;
	cursor: pointer;
	border:solid 2px #222;
}
.pubYearButOn{
	width:152px;
	height:40px;
	background: #222;
	color:white;
	line-height: 42px;
	text-align: center;
	float:left;
}
.pubYearBreaker{
	width:2px;
	height:40px;
	float:left;
	background-image: url(Images/publication/bannerBreaker.png);
	margin-top: 0px;
	margin-right:-1px;
	border-top-right-radius: 1px;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.55);
	border-bottom-right-radius: 2px;
}
#PublicationInfo{
	width:1000px;
	height:auto;
	font-size:16px;
}
.noList{
	list-style: none;
	font-style: italic;
	font-weight: 100;
	font-size: 14px;
}
.pubRef{
	color:black;
}
.pubName{	
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
	border-bottom: solid 1px #ccc;
	width: 100%;
	padding-bottom: 20px;
	list-style: none;
}
.pubName:last-of-type{
	border-bottom: none;
}
#patentArea{
	width:1000px;
	height:auto;
	float:left;
	margin-top:-30px;
	font-size: 16px;
	margin-bottom: 20px;
}
.yearInfo{
	display: none;
}
/*Gallery Area*/
.galleryItem{
	float: left;
	width:1000px;
	height:auto;
}
.galleryImg{
	height:190px;
	margin:0px 0 0 15px;
	width:auto;
	border-radius:10px;
	border:solid 2px #aaa;
	box-shadow: 2px 2px 4px #777;
	float: left;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.6)
}
.galleryTitle{
	width:625px;
	height:24px;
	border-bottom: solid 1px #aaa;
	float: left;
	color:black;
	text-decoration: none;
}
.galleryInfo{
	width:625px;
	height:auto;
	background-size: 600px auto;
	background-position: 35px -1px;
	background-repeat:no-repeat;
	float: left;
}
.galleryAuthor{
	font-size:16px;
	margin-top: 10px;
	float:left;
	margin-right: 15px;
}
.galleryDate{
	font-size:16px;
	width:600px;
	margin-top: 10px;
	text-decoration:underline;
	float:left;
}
.galleryText{
	font-size:14px;
	line-height:22px;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

/*Links page*/
.linkRef{
	font-size: 22px;
	font-weight:bold;
	text-decoration: underline;
	margin-right:15px;
	color:black;
	float: left;
}
.linkInfo{
	display: inline;
	width:auto;
	line-height: 26px;
	font-size:16px;
	color:#555;
}
.linkArea{
	width:1000px;
	float:left;
	margin-bottom: 30px;
}

/*Sponsors Page*/
.sponsorsArea{
	width:990px;
	height:auto;
	min-height: 200px;
	border-radius: 10px;
	border:solid 1px #ccc;
	box-shadow: inset 0 0 0px 1px #fff;
	float: left;
	margin-bottom: 40px;	
}
.sponsorArea{
	height:auto;
	width:330px;
	float:left;
	margin-top: 0px;
	margin-left: 2px;
	margin-bottom: 10px;
}
.sponsorNameArea{
	height:330px;
	width:330px;
	float: left;
}
.sponsorImg{
	height:330px;
	width:330px;
	margin-left: 5px;
	float:left;
	border-radius:6px;
	border:solid 1px #aaa;
}

.pimageCell{
	height:150px;
	width:150px;
}

.pinfoCell{
	width:300px;
	height:150px;
}
