<!--
<h1 class="projectAreaTitle">Current Research</h1>
-->
<!-- To make a new projects item copy from here to: -->

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/sGSUQoz9wRE" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Multi-Agent Resiliency </p>
	<p class="projectAreaInfo">
		Multi-Agent Networks are crucial for completing task efficiently. When sharing information between agents the data integrity must be maintained. By implementing a reasoning engine from the individual's agents an informed decision can be made for completing tasks. Multiple UGVs working together can share information to a local server that can reinforce the final decision and identify compromised agents. 

This demonstration focuses on how autonomously moving vehicles can be trained to move towards a common goal and reinforce decision making by communicating between them. Here, the first JetBot detects the blue object as red and reports it back to the server. The second JetBot detects the blue object as blue and reports it back to the server. The server detects the difference in decisions and directs JetBot 3 to be deployed. Once JetBot 3 reports back to the server, it makes the final decision based on JetBot 3 output and identifies which JetBot has been compromised.

Since, the decision making is through the local server, the communication cost is reduced for individual agents. To make the navigation more resource-efficient we can apply network exploration and compression approaches to pin-point suitable configurations for deployment.  
	</p>
	
	<div class="clearer"></div>
</div>

<!--div class="project">
	<div class="Demo">
	
   		<iframe width="945" height="300" src="https://www.cbsnews.com/baltimore/news/cutting-edge-umbc-research-uses-artificial-intelligence-and-robots-to-assist-national-security/" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> EEHPC Featured in Baltimore CBS News WJZ TV </p>
	<p class="projectAreaInfo">
		EEHPC Featured in Baltimore CBS News WJZ TV in AI Series showcasing their work connecting AI and robots for applications such as disaster response.  
	</p>
	
	<div class="clearer"></div>
</div-->

<!--div class="project">
	<div class="Demo">
	
   		<iframe width="945" height="300" src="https://umbc.edu/stories/umbc-experts-on-promises-and-pitfalls-of-artificial-intelligence/" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> EEHPC featured in UMBC News Story </p>
	<p class="projectAreaInfo">
		EEHPC featured in UMBC News Story: “UMBC experts guide TV viewers through the promises and pitfalls of artificial intelligence”.  
	</p>
	
	<div class="clearer"></div>
</div-->

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/gbrTzgUT8Oo" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Human and Drone Teaming</p>
	<p class="projectAreaInfo">
		We proposed an energy-efficient architecture to enable multi-drone video streaming to a HoloLens while applying augmented reality to enhance human-machine teaming. In this video, the drone is following the wall with the help of a lidar sensor and streams the drone's view to HoloLens.  
	</p>
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/t7pu8IGIKnE" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Edge Comm</p>
	<p class="projectAreaInfo">
		Artificial Intelligence (AI) and Deep Neural Networks (DNNs) have attracted attention as a solution within autonomous systems fields as they enable applications such as visual perception and navigation. Although cloud-based approaches have already been highly addressed, there is a growing interest in using both AI and DNNs on the edge as this allows for lower latency and avoids the potential security concerns of transmitting data to a remote server. However, deploying DNNs on edge devices is challenging due to the limited computational power available, as well as energy efficiency being of the utmost importance. In this work, we introduce an approach named E2EdgeAI for Energy-Efficient Edge computing that takes advantage of AI for autonomous tiny drones. This approach optimizes the energy efficiency of DNNs by considering the effects of memory access and core utilization on the energy consumption of tiny~UAVs. To perform the experiment, we used a tiny drone named Crazyflie with the AI-deck expansion, which includes an octa-core RISC-V processor. The experimental results show the proposed approach reduces the model size by up to 14.4x, improves energy per inference by 78%, and increases energy efficiency by 5.6x.
	</p>
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/U6ofqrmsMiI" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Human Machine Teaming Crazyflie and HoloLens, person detection by crazyflie and location projection on HoloLens</p>
	<p class="projectAreaInfo">
		<!-- Details of this project goes here-->  
	</p>
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/BcXCkm0VYSU" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Sim2Real Reinforcement Learning Crazyflie Reaching Goals and Obstacle Avoidance</p>
	<p class="projectAreaInfo">
		  <!-- Details of this project goes here-->
	</p>
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/AgaLAVY7E1Y" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Towards Real-World Implementation of Deep Reinforcement Learning for Vision-Based Autonomous Drone Navigation with Mission</p>
	<p class="projectAreaInfo">
		  <!-- Details of this project goes here-->
	</p>
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/Ml6bhZ32xbs" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle"> Low Power Multi-Agent Reinforcement Learning for UAVs and UGVs and Language Guided Reinforcement Learning for Human-Agent Teaming</p>
	<p class="projectAreaInfo">
		This recently funded ARL ArtIAMAS project aims to develop energy efficient AI-driven approaches with heterogeneous autonomous edge devices for teaming, scene understanding and decision making in adversarial settings, Live Demo. Reinforcement Learning (RL) has shown great benefits in command and control. However, training becomes significantly challenging when we scale to multi agent and/or to real world environments. In this project we proposed to divide the tasks in hierarchy, as well as learning of the multi agents in hierarchy, which can significantly improve training. The second part of the presentation shows our project onLanguage Guided Reinforcement Learning for Human-Agent Teaming We proposed a framework to train RL agents conditioned on constraints that are in the form of structured language, thus reducing effort to design and integrate specialized rewards into the environment. In our experiments, we show that this method can be used to ground the language to behaviors and enable the agent to solve tasks while following the constraints.We also show how the agent can transfer these skills to other tasks.  
	</p>
	
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/A53MC0kj2AY" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">An Energy Efficient and Flexible Multichannel Electroencephalogram (EEG) Artifact Detection</p>
	<p class="projectAreaInfo">
		This project aims at an energy efficient and flexible multichannel Electroencephalogram (EEG) artifact detection and identification networks and their reconfigurable hardware implementations. EEG  signals are recordings of the brain activities. The EEG recordings that do not originate from cerebral activities are termed as artifacts. Our proposed models do not need expert knowledge for feature extraction or pre-processing of EEG data and have very efficient architectures implementable on mobile devices. The proposed networks can be reconfigured for any number of EEG channel and artifact classes. Experiments were done with different deep learning models (i.e. CNN, Depthwise Separable CNN, LSTM, Conv-LSTM) with the goal of maximizing the detection/identification accuracy while minimizing the weight parameters and required number of operations.
	</p>
	
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/VghkFMJZA20" frameborder="0" allowfullscreen></iframe>
		<iframe width="315" height="200" src="https://www.youtube.com/embed/MYumkUqWEyY" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">Reinforcement Learning with Highly Reduced Input Size and Model Size</p>
	<p class="projectAreaInfo">
		This work demonstrates a reinforcement learning demo with highly reduced input size and model size via the DonkeyCar simulator. Instead of using image observations, this works detects the lane lines in the images and uses line endpoint coordinates as observations (8-element array). The final input size is 8 by 8, which stacks up 8 most recent observations. With this highly reduced input size, we can also reduce the model size to 1 convolution layer and 2 fully connected layers. Furthermore, the extracted line coordinate features cancel out irrelevant background features.
	</p>
	
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/Mvt7cCJDa4I" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">A 0.9 TOP/S/W Accelerator for Structurally Compressed DNNs Featuring Cyclic Sparsely Connected Layers @ ISSCC 2020</p>
	<p class="projectAreaInfo">
	<!-- add info here -->
	</p>
	
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/hxkLzDrDEZI" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">Sketching based Big Data Acceleration on Low Power Cores</p>
	<p class="projectAreaInfo">
		Wireless medical technologies have created opportunities for new methods of preventive care using biomedical implanted and 
		body-worn devices. The design of the technologies that will enable these applications requires correct delivery of the vital 
		physiological signs of the patient along with the energy management in power-constrained devices. The high cost and even higher risk 
		of battery replacement require that these devices be designed and developed for minimum energy consumption. 
	</p>
	
	<div class="clearer"></div>
</div>



<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/w6xdCXhNS_M" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">Deep Neural Nets for Embedded Big Data Applications</p>
	<p class="projectAreaInfo">
		We explore the use of deep neural networks (DNN) for embedded big data applications. Deep neural networks have been demonstrated to outperform state-of-the-art solutions for a variety of complex classification tasks, such as image recognition. The ability to train networks to both perform feature abstraction and classification provides a number of key benefits. One key benefit is that it reduces the burden of the developer to produce efficient, optimal feature engineering, which typically requires expert domain-knowledge and significant time. A second key benefit is that the network's complexity can be adjusted to achieve desired accuracy performance. Despite these benefits, DNNs have yet to be fully realized in an embedded setting. In this research, we explore novel architecture optimizations and develop optimal static mappings for neural networks onto highly parallel, highly granular hardware processors such as many-cores and embedded GPUs.
	</p>
	
	
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="Demo">
	
   		<iframe width="315" height="200" src="https://www.youtube.com/embed/7xaoKVAH500" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="projectTitle">A Low Power Wearable Tongue Drive System for People with Severe Disabilities</p>
	<p class="projectAreaInfo">
		This work demonstrates an ultra low power multi-sensor Tongue Drive System (TDS) used for individuals with severe disabilities to control their environment using their tongue movement. An ultra low power local processor is proposed which can perform all signal processing at sensor side, rather than sending all raw data out. The proposed TDS will significantly reduce the transmission power consumption and subsequently increase the battery life. Assuming the TDS user issuing one command per second, implementing the proposed local processing reduces the data volume that needs to be wirelessly transmitted to a PC or smartphone by a factor of 1500x, from 12 kbit/s to approximately 8 bit/s. The proposed processor consists of three blocks: I2C protocol for communication, External Magnetic Field (EMF) Attenuation, and Logistic Regression machine learning for command classification. The processor is implemented in 65-nm CMOS technology, occupies 0.016 mm2 and consumes 3.9 nJ energy, which is 41 times smaller than the implementation in the previous work. For demonstration, the complete TDS on headset with FPGA, Bluetooth, battery and sensors has been tested. The detection accuracy is 90.12%
	</p>
	
	
	<div class="clearer"></div>
</div>




