<script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="jquery.slides.min.js"></script>

  <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 580,
        play: {
	      active: true,
	        // [boolean] Generate the play and stop buttons.
	        // You cannot use your own buttons. Sorry.
	      effect: "slide",
	        // [string] Can be either "slide" or "fade".
	      interval: 5000,
	        // [number] Time spent on each slide in milliseconds.
	      auto: true,
	        // [boolean] Start playing the slideshow on load.
	      swap: true,
	        // [boolean] show/hide stop and play buttons
	      pauseOnHover: true,
	        // [boolean] pause a playing slideshow on hover
	      restartDelay: 2500
	        // [number] restart delay on inactive slideshow
	    },
      });
    });
</script>
<div id="slides">
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/2.jpg');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/3.png');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/4.jpeg');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/5.jpg');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/6.jpg');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	<div>
		<div class="slidesjs-image" style="background-image: url('src/images/gallery/to_research/7.jpg');"></div>
		<!-- <div class="caption"> Initial prototype of the TDS </div>	-->
	</div>
	
</div>

<!--
<h1 class="projectAreaTitle">Current Research</h1>
-->
<!-- To make a new projects item copy from here to: -->

<div class="project">

	<div style="width:900px; margin:5px auto;">
		<div class="container">
		  <img src="../src/images/research/animation_all_apps.gif"/ width="800" />
		</div>
	</div>

	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/RL_icon.png">
	</div>

	<p class="projectTitle">Energy Efficient Autonomous Systems and Robotics</p>
	<p class="projectAreaInfo">
	Autonomous systems and robotics technology continue to have a major role in enabling future smart cities, transportation, energy management, logistics, smart sensing, home health care and defense technologies. Machine Learning and Reinforcement learning techniques have shown great promise in the past few years, getting us a few steps closer to deploying them in the real world. However, there are still many challenges before we can safely and efficiently deploy them in the real world, especially when these technologies work closely with other humans. Some of their issues are robustness, understanding and reasoning, adaptability, and awareness. Also, when it comes to robotics and autonomous systems, real time reaction to the environment changes is very critical. Current processors to run the algorithms for autonomous navigation are still very energy consuming. My funded research projects address these challenges by bridging the field of robotics and hardware design.
       </p>
	<div class="projRefArea">
		<a style="color:red" href="projects/guided_rl.php" class="projRef"><b> Read More</b></a> 
	</div>
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/smarthealth_icon.png">
	</div>
<!-- 
	<p class="projectTitle">Ultra Low Power DSP for Health Care Monitoring</p>
	 -->
 	<p class="projectTitle">Wearable Multi-Physiological Machine Learning for IoT Health</p>
	<p class="projectAreaInfo">
		Wireless medical technologies have created opportunities for new methods of preventive care using biomedical implanted and 
		body-worn devices. The design of the technologies that will enable these applications requires correct delivery of the vital 
		physiological signs of the patient along with the energy management in power-constrained devices. The high cost and even higher risk 
		of battery replacement require that these devices be designed and developed for minimum energy consumption. 
	</p>
	<p class="projectAreaInfo">
		In this research, we explore a variety of ultra low-power DSP techniques for wearable biomedical devices. A blend of 
		feature engineering and machine learning algorithms are employed and evaluated within the context of real-time classification
		applications. The evaluation is based on two major criteria: 1. classification accuracy and 2. algorithmic complexity (computation, memory, latency).
		Currently, two case studies are being explored. The first case study is the detection of seizures for epileptic patients using multi-physiological signals in an ambulatory setting.
		The second case study is an assistive technology that enables a user to interactive with their surroundings using a tongue-driven interface. 
	</p>
	<div class="projRefArea">
		<a style="color:red" href="projects/lowdsp.php" class="projRef"><b> Read More</b></a>
	</div>
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/domain_dnn_icon.png">
	</div>
<!-- 
	<p class="projectTitle">Deep Neural Nets for Embedded Big Data Applications</p>
	 -->
 	<p class="projectTitle">Tiny Scalable Deep Neural Network Accelerators</p>
	<p class="projectAreaInfo">
	We explore the use of deep neural networks (DNN) for embedded big data applications. Deep neural networks have been demonstrated to outperform state-of-the-art solutions for a variety of complex classification tasks, such as image recognition. The ability to train networks to both perform feature abstraction and classification provides a number of key benefits. One key benefit is that it reduces the burden of the developer to produce efficient, optimal feature engineering, which typically requires expert domain-knowledge and significant time. A second key benefit is that the network's complexity can be adjusted to achieve desired accuracy performance. Despite these benefits, DNNs have yet to be fully realized in an embedded setting. In this research, we explore novel architecture optimizations and develop optimal static mappings for neural networks onto highly parallel, highly granular hardware processors such as CPUs, many-cores, embedded GPUs, FPGAs, and ASIC.
       </p>
	<div class="projRefArea">
		<a style="color:red" href="projects/domain_dnn.php" class="projRef"><b> Read More</b></a> 
	</div>
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/LESSIcon.PNG">
	</div>
	<p class="projectTitle">LESS: Light Encryption using Scalable Sketching </p>
	<p class="projectAreaInfo">
		LESS framework is adopted to accelerate Big Data processing on Hardware Platforms. LESS can achieve reduction in data communications up to 67%, while achieving 3.81dB Signal to Reconstruction Error Rate. LESS framework has been applied to Face Detection, Objects and Scenes identification, Text analysis and Bio-medical applications. Integration of LESS framework with Hadoop MapReduce Platform shows that, it achieves 46% reduction in data transfers with very low execution overhead of 0.11% and negligible energy overhead of 0.001% when tested for 50,000 number of image. 
	</p>
	<div class="projRefArea">
		<a style="color:red" href="projects/leesframework.php" class="projRef"><b> Read More</b></a>
	</div>
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/cs_security_icon.png">
	</div>
	<p class="projectTitle">Energy Efficient Secured Many-Core Processor for Embedded Applications </p><!-- Set this to title -->
	<p class="projectAreaInfo">
	The goal of this research is to design a real-time Trojan detection framework for a custom Many-Core by using an effective method such that it has minimal hardware overhead and implementation complexity with a very high accuracy of detection.
	</p>
	<div class="projRefArea">
		<a style="color:red" href="projects/SecuredManyCore.php" class="projRef"><b> Read More</b></a> <!-- Set href value to projects/(projectname).php and make the php file in the projects folder -->
	</div>
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/cs_icon.svg">
	</div>
	<p class="projectTitle">Efficient Compressive Sensing Reconstruction Algorithms and Architectures</p>
	<p class="projectAreaInfo">
		Compressive sensing (CS) is a novel technology which allows sampling sparse signals under sub-Nyquist rate and reconstructing the image using computational intensive algorithms. Reconstruction algorithms are complex and software implementation of these algorithms is extremely slow and power consuming. In this project, we are proposing reduced complexity reconstruction algorithms and efficient hardware implementation on different platforms including FPGA, ASIC, GPU, and many-core platforms. 
	</p>
	<div class="projRefArea">
		<a style="color:red" href="projects/reconstructionalgorithms.php" class="projRef"><b> Read More</b></a>
	</div>
	<div class="clearer"></div>
</div>

