<!--
<h1 class="projectAreaTitle">Current Research</h1>
-->
<!-- To make a new projects item copy from here to: -->
<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/smarthealth_icon.png">
	</div>
	<p class="projectTitle">Ultra Low Power DSP for Health Care Monitoring</p>
	<p class="projectAreaInfo">
		Wireless medical technologies have created opportunities for new methods of preventive care using biomedical implanted and 
		body-worn devices. The design of the technologies that will enable these applications requires correct delivery of the vital 
		physiological signs of the patient along with the energy management in power-constrained devices. The high cost and even higher risk 
		of battery replacement require that these devices be designed and developed for minimum energy consumption. 
	</p>
	<p class="projectAreaInfo">
		In this research, we explore a variety of ultra low-power DSP techniques for wearable biomedical devices. A blend of 
		feature engineering and machine learning algorithms are employed and evaluated within the context of real-time classification
		applications. The evaluation is based on two major criteria: 1. classification accuracy and 2. algorithmic complexity (computation, memory, latency).
		Currently, two case studies are being explored. The first case study is the detection of seizures for epileptic patients using multi-physiological signals in an ambulatory setting.
		The second case study is an assistive technology that enables a user to interactive with their surroundings using a tongue-driven interface. 
	</p>
	<div class="projRefArea">
		<a href="projects/lowdsp.php" class="projRef">Read More</a>
	</div>
	<div class="clearer"></div>
</div>


<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/domain_dnn_icon.png">
	</div>
	<p class="projectTitle">Deep Neural Nets for Embedded Big Data Applications</p>
	<p class="projectAreaInfo">
	We explore the use of deep neural networks (DNN) for embedded big data applications. Deep neural networks have been demonstrated to outperform state-of-the-art solutions for a variety of complex classification tasks, such as image recognition. The ability to train networks to both perform feature abstraction and classification provides a number of key benefits. One key benefit is that it reduces the burden of the developer to produce efficient, optimal feature engineering, which typically requires expert domain-knowledge and significant time. A second key benefit is that the network's complexity can be adjusted to achieve desired accuracy performance. Despite these benefits, DNNs have yet to be fully realized in an embedded setting. In this research, we explore novel architecture optimizations and develop optimal static mappings for neural networks onto highly parallel, highly granular hardware processors such as many-cores and embedded GPUs.
       </p>
	<div class="projRefArea">
		<a href="projects/domain_dnn.php" class="projRef">Read More</a> 
	</div>
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/cs_security_icon.png">
	</div>
	<p class="projectTitle">Energy Efficient Secured Many-Core Processor for Embedded Applications </p><!-- Set this to title -->
	<p class="projectAreaInfo">
	The goal of this research is to design a real-time Trojan detection framework for a custom Many-Core by using an effective method such that it has minimal hardware overhead and implementation complexity with a very high accuracy of detection.
	</p>
	<div class="projRefArea">
		<a href="projects/SecuredManyCore.php" class="projRef">Read More</a> <!-- Set href value to projects/(projectname).php and make the php file in the projects folder -->
	</div>
	<div class="clearer"></div>
</div>

<div class="project">
	<div class="projectImageArea">
		<img class="projectImage" src="src/images/research_icon/cs_icon.svg">
	</div>
	<p class="projectTitle">Efficient Compressive Sensing Reconstruction Algorithms and Architectures</p>
	<p class="projectAreaInfo">
		Compressive sensing (CS) is a novel technology which allows sampling sparse signals under sub-Nyquist rate and reconstructing the image using computational intensive algorithms. Reconstruction algorithms are complex and software implementation of these algorithms is extremely slow and power consuming. In this project, we are proposing reduced complexity reconstruction algorithms and efficient hardware implementation on different platforms including FPGA, ASIC, GPU, and many-core platforms. 
	</p>
	<div class="projRefArea">
		<a href="projects/reconstructionalgorithms.php" class="projRef">Read More</a>
	</div>
	<div class="clearer"></div>
</div>
