html{
	background: #E3E4DF;
}
h4{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin:0;
}

h2{
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
p,li,table{
	margin-top: 0;
	font-family: sans-serif;
	font-size: 14px;
}
ul:last-of-type{
	margin-bottom: 0;
}
li{
	margin-bottom: 5px;
}
p:last-of-type,li:last-of-type{
	margin-bottom: 0;
}
img{
	max-width: 100%;
}
#wrapper{
	width:800px;
	margin: auto;
}

nav{
	width: 100%;
	height:75px;
	background: #222;
	margin-top:20px;
}
#logo{
	width: 75px;
    height: 75px;
    float: left;
    background: url("../img/navigation/multicore.png");
    background-size: 200px auto;
    background-position: -30px bottom;
}

#profileName{
	float: left;
}
#profileName h1{
	display: block;
	margin: 0;
	width: 250px;
	text-align: center;
	background: #1a1a1a;
	height:75px;
	line-height: 75px;
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

#navLinks{
	float: right;
}
#navLinks a{
	display: block;
	height: 100%;
	line-height: 75px;
	padding: 0 30px;
	color: #ccc;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	text-decoration: none;
	float: left;
	transition:color 500ms ease;
}
#navLinks a:hover{
	color:#fff;
}
#navLinks a:active{
	color:#6C91A7;
}
/* sidebar */
#sidebar{
	width: 210px;
	padding: 20px;
	background: #fff;
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
}
#sidebar h2{
	margin-top: 0;
	margin-bottom: 10px;
}
#sidebar p{
	font-size: 12px;
}
#profileImg{
	width: 100%;
	margin-bottom: 20px;
}
.offsiteLink{
	width: 50%;
	display: inline-block;
	float: left;
	line-height: 80px;
	margin-top: 10px;
}
.offsiteLink:nth-of-type(2){
	text-align: right;
}
.offsiteLink img{
	width: 75%;
}

/* index */
	/* index page */
#genInfo{
	margin-top: 20px;
	padding: 10px;
	background: #fff;
	display: table;
}
#genInfo .blockThird{
	width: 33.3333%;
	display: table-cell;
	vertical-align: middle;
	box-sizing:border-box;
	padding: 10px;
}
#genInfo .profilePic{
	width: 100%;
}
#genInfo .halfSizeImage{
	width: 100%;
}
#genInfo .offsiteLink{
	display: inline-block;
	width: 100px;
	margin-right: 10px; 
}
#genInfo .offsiteLink:nth-of-type(2n){
	text-align: right;
	margin-right: 0;
	float: right;
}
/* content */
#content{
	overflow: hidden;
	margin-bottom: 20px;
}
#content a,#sidebar a{
	color:#6C91A7;
}
.fullLine,.project{
	margin-left: 20px;
	margin-top: 20px;
	background: #fff;
	padding: 20px;
}

/* slideshow */
#slideshow{
	margin-top: 20px;
	height: 320px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#swipeArea{
	width:auto;
	padding-left: 20px;
	overflow: hidden;
	max-width: 100%;
}
.swipe{
	width: auto;
	width: 100%;
	height: 100%;
}
.slide{
	width: 100%;
	height:320px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.swipe-wrap{
	height: 320px;
}

.prevButton, .nextButton{
	background-color: rgba(34,34,34,0.9);
	width: 40px;
	height: 75px;
	display: block;
	margin-top: -37px;
	text-indent: -9999px;
	overflow: hidden;	
	position: absolute;
	top:50%;
	z-index: 999;
	background-repeat: no-repeat;
	background-position: center;
	transition:background-color 500ms ease;
}
.prevButton:hover, .nextButton:hover{
	background-color: #222;
}
.prevButton:active, .nextButton:active{
	background-color: #6C91A7;
}
.prevButton{
	background-image: url("../img/slideshow/previousArrow.png");

}
.nextButton{
	right: 0;
	background-image: url("../img/slideshow/nextArrow.png");
}

/* classes styling */
table{
	width: 100%;
	border-spacing: 1px;
}
table th{
	background-color: #222;
	color: #fff;
	padding: 10px 0;
	font-weight: 100;
	font-family: "Open Sans"
}
table th:nth-of-type(2n+1){
	background: #1a1a1a;
}
table td{
	padding: 10px 0;
	text-indent: 10px;
}
table tr:nth-of-type(2n+1){
	background-color: #e6e6e6;
}
td:first-of-type{
	background: rgba(0,0,0,0.1);
}
#quarter{
	width: 80px;
	background:#1a1a1a;
}


/*research styling */
.projectTitle{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.projectAreaTitle{
	display: none;
}
.projRefArea{
	text-align: right;
	margin-top: 10px;
}
.projectImageArea{
	text-align: center;
}
.projectImage{
	width: 75%;
}

/* Publications */
.publications{
	margin-left: 20px;
}
.titleYear{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-indent: 20px;
	margin: 0;
	margin-top: 20px;
	font-family: "Open Sans",sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fff;
	background: #222;
}
.pubName{
	list-style: none;
	padding: 20px;
	background: #fff;
	margin-top: 20px;
}
.pubName .titleYear{
	display: inline;
	color: #000;
	font-weight: 900;
	font-family: sans-serif;
	background: none;
}
.publications br{
	display: none;
}
